.chat-window {
  width               : 100%;
  min-width           : 1024px;
  height              : 100%;
  min-height          : 1024px;
  position            : relative;
  overflow            : auto;
  background          : rgba(148, 132, 213, 1.0);
}
a {
  text-decoration     : none;
}
body{
margin                : 0px, 0px, 0px, 0px;
}

div {
  -webkit-text-size-adjust: none;
}
.rooms {
  background          : rgba(86, 12, 117, 1.0);
  width               : 10%;
  height              : 100%;
  float               : left;
}

.currentInfo {
  background          : rgba(255, 255, 255, 0.0);
  height              : 10%;
  font-size           : 12.0px;
  color               : rgba(32, 30, 32, 1.0);
  text-align          : justify;
  line-height         : 20.0px;
}
.friends {
  background          : rgba(86, 12, 117, 0.0);
  width               : 20%;
  height              : 90%;
  float               : left;
}
.messages {
  background          : rgba(86, 12, 117, 0.0);
  width               : 70%;
  height              : 100%;
  left                : 30%;
  float               : left;
}
.rooms Input{
    width:              95%;
}