<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1024px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/chatHome.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(148, 132, 213, 1.0);">
        <div class="chat-home">
<div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                <div class="rectangle" style=" z-index: 5;">
                    {{#rooms}}
<form action="/rooms/{{roomname}}/handle/{{handle}}" method="get">
                            <input type="submit" value={{roomname}}>
                        </form>
                    {{/rooms}}
                </div>
                <div class="view1">

                </div>
                <div class="label1">
                    <h1>Current Room: {{roomname}} </h1>
                    <h1>Current Handle: {{handle}}</h1>
                </div>
                <div class="view2">
                    <h1>Room Chat</h1>
                    {{#messages}}
                    <h1> {{message}}: Sent By:{{senderhandle}} </h1>
                    {{/messages}}
                    <form action="/rooms/{{roomname}}/handle/{{handle}}" method="post">
                        <input type="text" name="message">
                        <input type="submit">
                    </form>
                </div>
                <div class="view3">
                </div>
                <div class="label2">
                    Rooms
                </div>
                <div class="view4">
                </div>
                <div class="input-textarea">
                    <img class="input-background" src="./img/chathomeinput_background.png"/>
                    <div class="text-area-content">
                    </div>
                </div>
            </div>
		</div>
    </body>
</html>
