<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=1024px, maximum-scale=1.0" name="viewport"/>
        <link href="/css/chatHome.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="margin: 0; background: rgba(148, 132, 213, 1.0);">
        <div class="chat-window">
            <div class="rooms">
                <h1> Rooms </h1>

                {{#rooms}}
                        <form action="/rooms/{{roomname}}/handle/{{handle}}" method="get">
                        <input type="submit" value={{roomname}}>
                    </form>
                {{/rooms}}

                <form action="/addroom" method="post">
                    <input type="hidden" name="handle" value="{{handle}}">
                    <input type="text" name="roomname">
                    <input type="submit" value="Create">
                </form>
            </div>

            

            <div class="friends">

                <div class="currentInfo">

                    <h1>Current Room: {{roomname}} </h1>

                    <h1>Current Handle: {{handle}}</h1>

                </div>
                
                <h1> Friends </h1>

                <ul>{{#friends}}<li>{{friends}}</li>{{/friends}}</ul>

                <form action="/rooms/{{roomname}}/handle/{{handle}}" method="post">
                    <input type="text" name="befriend">
                    <input type="submit" value="Add">
                </form>
            </div>

            <div class="messages">
                <h1>Room Chat</h1>

                {{#messages}}
                <h1> {{message}} <br> Sent By:{{senderhandle}} </h1>
                {{/messages}}

                <form action="/rooms/{{roomname}}/handle/{{handle}}" method="post">
                    <input type="text" name="message">
                    <input type="submit">
                </form>
            </div>
		</div>
    </body>
</html>
