<!DOCTYPE html>
<html lang="en">
<head>
<title>GroceryAid v2</title>
</head>
<body>
<form method="post">
User Handle:<br>
<input type="text" name = "handle"><br>
</form>
<div>{{#users}}</div>
</body>
</html>

